:root {
  --red: #cf2020;
  --blue: #4164ff;
  --green: #46e21f;
  --coral: coral;
  --success: #4bf559;
  --success-light: #99faa1;
  --success-dark: #03a510;
}

/* 
var(--red); 
*/




.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

* {
  /* outline: 1px solid green; */
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  background: gainsboro;
}

.container {
  outline: 1px solid #4164ff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bg {
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
}

a {
  display: block;
  transition: all 0.2s ease-in-out;
  color: #000;
}

a:hover {
  color: lawngreen;
  cursor: pointer;
}

.lock {
  overflow: hidden;
}

img {
  opacity: 1;
  transition: opacity 0.2s;
}

img[data-src] {
  opacity: 0;
}

.imgs {
  overflow: hidden;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.rel {
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ++++++++++++++++++++++++++++ */

._cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 36px;
}

._card {
  background: rgb(124, 209, 243);
  box-shadow: 0 0 5px rgb(105, 77, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

._card .rel {
  height: 200px;
  width: 100%;
}

._card h3 {
  margin: 10px 0 0 0;
}

._card a.btn {
  margin: auto 0 20px;
  width: calc(100% - 30px);
  z-index: 15;
}

/* +++++++++++++++section depends on maket+++++++++++++++++++++ */


.title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

/* +++++++++++++++++++++++++++++++++++++ */

._anim-top {
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
  opacity: 0;
}

._anim-top._is-active {
  transform: translateY(0px);
  opacity: 1;
}

._anim-left {
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}

._anim-left._is-active {
  transform: translateX(0px);
  opacity: 1;
}

._anim-right {
  transform: translateX(100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}

._anim-right._is-active {
  transform: translateX(0px);
  opacity: 1;
}

._paralax {
  height: 100vh;
  background: url(../img/paralax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1000px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 999px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1259px) {
  .container {
    margin: 0 30px;
    max-width: calc(100% - 60px);
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}







